h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
p{
    text-align: center;
    font-family: monospace;
    
}
input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial;
    background-image: url('https://www.treehugger.com/thmb/33fmXIVwmiz64HJX-l8upS21fqY=/1050x750/filters:no_upscale():max_bytes(150000):strip_icc()/color-illustration-man-running-outside-4aeffe3ec7134a8793401d76ec1c54af.png');
}
body {
    text-align: center;}
tbody {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}    
    
table{
    text-align: center;
}